* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #d9d9d9;
    --sapphire-color: #2a607c;
    --block-color: #0072bb;
}

body {
    background-color: var(--secondary-color);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--sapphire-color);
    color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    
    font-size: 48px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: 500;
    font-size: 1.55vw;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

footer h2 {
    font-size: 15px;
}



.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.options {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--block-color);
    color: var(--primary-color);
}

.tips h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.tips img {
    max-height: 200px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--block-color);
}

.benefit-state {
    margin-bottom: 32px;
    color: var(--primary-color);
}

.benefit-state h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-state img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}






